$white: #fff;
$background: #fffffc;
$yellow: #ffd700;
$yellow74: #ffe974;
$yellow660: #ffe660;
$orange: #ff6b00;
$orange800: #ffb800;
// $light-yellow: #FFF9C1;
$light-yellow: #ffffe0;
$light-orange: #ffa15e;
$peach: #fff8ee;
$gray: #4f4f4f;
$gray83: #838383;
$grayBF: #bfbfbf;
$light-gray: #888888;
$border-gray: #d9d9d9;
$border-dark: #adb5bd;
$black: #000;
$red: red;

$breackpoints: (
  desktop: 1440px,
  tablet: 1024px,
  laptop: 780px,
);
