:root {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  box-sizing: border-box;

  @media (max-width: map-get($breackpoints, laptop)) {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: $black;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: $background;

  &.open-model {
    position: fixed;
  }
}

h1 {
  font-size: 32px;
  font-weight: 600;

  @media (max-width: map-get($breackpoints, laptop)) {
    font-size: 20px;
  }
}

button {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.container {
  max-width: 1690px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
}

.main-container {
  padding: 100px 20px 150px;

  @media (max-width: map-get($breackpoints, tablet)) {
    padding: 60px 40px 80px;
  }

  @media (max-width: map-get($breackpoints, laptop)) {
    padding: 40px 20px 80px;
  }
}

.competitions-container {
  display: flex;
  column-gap: 3%;
}

.text-orange {
  color: $orange;
  font-weight: 500;
  font-size: 16px;

  @media (max-width: map-get($breackpoints, laptop)) {
    font-size: 14px;
  }
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 60px;

  &_competitions {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, calc(100% / 3 - 2%));
    justify-content: space-between;
    row-gap: 60px;

    @media (max-width: map-get($breackpoints, desktop)) {
      grid-template-columns: repeat(2, calc(100% / 2 - 1%));
      row-gap: 40px;
    }

    @media (max-width: map-get($breackpoints, laptop)) {
      grid-template-columns: 1fr;
    }
  }
}

.error {
  border: 2px solid $orange;
}

.error-text {
  text-align: left;
  color: $orange;
  max-width: 100%;
  word-wrap: break-word;
}
